@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700%7CAlegreya');
body {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

/* boilerplate social nav */
body #social_nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
body #social_nav a svg {
  fill: black;
  width: 24px;
  height: 18px;
}
body #social_nav a:hover,
body #social_nav a:focus {
  color: white;
}
body #social_nav a:hover svg,
body #social_nav a:focus svg {
  fill: white;
}

/* Style the header */
header {
  background-color: #ad2620;
}

.content_main {
  margin-left: 18%;
  margin-right: 18%;
  text-align: left;
}

article {
  /*padding: 20px;*/

  width: 80%;
  background-color: white;
  /* height: 300px;  only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: '';
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #ad2620;
  padding: 10px;
  text-align: center;
  color: white;
}

/* boilerplate headings */
.boilerplate_1 {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  font-size: 22px;
}

/* boilerplate general text */
.boilerplate_2 {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  line-height: 1.6;
}

/* boilerplate general text */
.boilerplate_3 {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  font-size: 12px;
}

table,
th,
td {
  border: none;
}

.boilertable {
  border: none;
  border-collapse: collapse;
  text-align: left;
  vertical-align: text-top;
}

.banner {
  text-align: center;
  padding: 0;
  color: white;
  font-size: 4.25em;
  font-weight: 400;
  font-family: 'Alegreya', serif;
  text-shadow: 2px 2px 4px #000000;
  letter-spacing: 2px;
  vertical-align: bottom;
}

.sub_banner {
  padding: 0;
  font-size: 23px;
  font-family: Lato, sans-serif;
  font-weight: 100;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  letter-spacing: 2px;
}

.container {
  position: relative;
  text-align: center;
  padding: 0;
  color: white;
  font-size: 4.25em;
  font-weight: 400;
  font-family: 'Alegreya', serif;
  text-shadow: 2px 2px 4px #000000;
  letter-spacing: 2px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar_original {
  position: -webkit-sticky; /* Safari */
  position: sticky; /* If enabled it breaks dropdown menu */
  top: 0;
}

.navbar {
  background-color: #000000;
  position: sticky;
  top: 0;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
  }
}
@media screen and (max-width: 767.98px) {
  .navbar {
    overflow: hidden;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a,
.mDrop {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.mDrop li:nth-of-type(-n + 1) {
  float: down;
}
.mDrop {
  position: relative;
  top: 13.6rem;
}

li .mDrop {
  visibility: hidden;
  opacity: 0;
  width: 18rem;
  position: absolute;
  top: 25px;
  transition: all 0.5s ease;
  margin-top: 1.5rem;
  display: none;
  background-color: rgba(173, 38, 32, 0.9); /* opacity #ad2620 */
}

li a:hover,
.mDrop:hover .li:hover {
  background-color: black;
}

li:hover > ul,
li:focus-within > ul,
li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.active {
  background-color: darkgray;
}

.carousel-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  z-index: -1;
}


.container-circles div:hover{
  background-color: black;
  color: #f0f0f0;
} 


.carousel-slide {
  display: flex;
  transition: transform 0.5s ease;
}
.carousel-slide img {
  width: 100%;
  height: auto;
}

.container-circles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}
.circle {
  width: 200px;
  height: 200px;
  background-color: #ad2620;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle a {
  text-decoration: none;
  color: white;
}

.para {
  font-size: 24px;
  font-family: sans-serif;
  color: black;
  padding: 50px;
}
.know {
  height: 200px;
  
}
.container {
  display: flex;
  padding: 100px;
}

.container p {
  font-size: 14px;
}

.container img {
  height: 400px;
}

.img-container{
  text-align: center;
  margin: 0;
}

.sections-container{
  display: flex;
  flex-direction: row;
  gap: 15px;
  
}

.sections-container div{
  background-color: red;
  padding: 15px;
  color: #f0f0f0;
  text-align: center;
  height: 500px;
}