<navbar>
  <header>
    <table>
      <tr>
        <td rowspan="4">
          <a href="../index.html"
            ><img
              src="../images/school_header.png"
              style="margin-top: 10px; margin-right: 10px"
          /></a>
        </td>
        <td height="40px">&nbsp;</td>
      </tr>
      <tr>
        <td class="banner" style="vertical-align: bottom">
          Father Yermo Schools
        </td>
      </tr>
      <tr>
        <td class="sub_banner">
          3K-12TH Co-ed Academics, Leadership, Faith, &amp; Service
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
  </header>

  <nav class="navbar">
    <ul>
      <li>
        <a href="">About Us</a>
        <ul class="mDrop">
          <li><a href="from the direction.html">From The Direction</a></li>
          <li><a href="staff members.html">Staff Members</a></li>
          <li>
            <a href="school board and capital campaign board.html"
              >School Board and Capital Campaign Board</a
            >
          </li>
          <li><a href="know our journey.html">Know Our Journey</a></li>
          <li><a href="./pages/weCommit.html">We Commit Together!</a></li>
        </ul>
      </li>
      <li>
        <a href="">Admissions</a>
        <ul class="mDrop">
          <li><a href="welcome message.html">Welcome Message</a></li>
          <li>
            <a href="what to know about fy.html">What To Know about FY</a>
          </li>
          <li><a href="tuition and fees.html">Tuition and Fees</a></li>
          <li><a href="online portal.html">Online Portal</a></li>
        </ul>
      </li>
      <li>
        <a href="">Contact Us</a>
        <ul class="mDrop">
          <li><a href="contact us 2.html">Contact Us</a></li>
          <li><a href="employment.html">Employment</a></li>
        </ul>
      </li>
      <li>
        <a href="">Faith and Service</a>
        <ul class="mDrop">
          <li><a href="faith formation.html">Faith Formation</a></li>
          <li><a href="service learning.html">Service Learning</a></li>
          <li><a href="partnerships.html">PartnerShips</a></li>
          <li>
            <a href="after school program.html">After School Program</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="">Financial Aid</a>
        <ul class="mDrop">
          <li>
            <a href="mr. alfredo palacio scholarship.html"
              >Mr. Alfredo Palacio Scholarship</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a href="">Leadership</a>
        <ul class="mDrop">
          <li><a href="chaplain.html">Chaplain</a></li>
          <li><a href="honor society.html">Honor Society</a></li>
          <li><a href="sports.html">Sports</a></li>
        </ul>
      </li>
      <li>
        <a href="">Academics</a>
        <ul class="mDrop">
          <li><a href="curriculum.html">Faith Formation</a></li>
          <li><a href="high school plan.html">High School plan</a></li>
          <li><a href="dual credit.html">Dual Credit</a></li>
          <li>
            <a href="graduation requirements.html">Graduation Requirements</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</navbar>
